.o_model_graph {
  height: 100%;
  padding: 16px;
}

.model_graph_nav {
  max-height: 600px;
  overflow-y: auto;
}

.model_graph_nav_list {
  max-height: 500px;
  overflow-y: auto;
}

.model_selected {
  background-color: #e9ecef;
  font-weight: bold;
}

.model_graph_container {
  width: 100%;
  background-color: #ffffff;
}
